
modules = ["web", "nodejs-20", "angular-node-20"]
run = "npm run watch"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "ng build --configuration=production"]
publicDir = "dist/meu-portfolio/browser"
run = ["sh", "-c", "echo 'Angular app deployed!'"]

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[workflows]
runButton = "Executar Portfólio"

[[workflows.workflow]]
name = "Executar Portfólio"
author = 41183488
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "ng serve --host=0.0.0.0 --disable-host-check"

[[ports]]
localPort = 4200
externalPort =
