modules = ["web", "nodejs-20", "angular-node-20"]
run = "npm run watch"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx serve -s dist/meu-portfolio"]
build = ["sh", "-c", "ng build"]
